@model JobStack.WebUI.DTOs.AuthDTOs.RegiserCandidateDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">

<!-- Mirrored from shreethemes.in/jobstack/layouts/index-six.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 11:14:27 GMT -->
<head>
    <meta charset="UTF-8">
    <title>Jobstack - Job Portal Tailwind CSS Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Job Listing Landing Template" name="description">
    <meta content="Job, CV, Career, Resume, Job Portal, Create Job, Post job, tailwind Css" name="keywords">
    <meta name="author" content="Shreethemes">
    <meta name="website" content="https://shreethemes.in/">
    <meta name="email" content="support@shreethemes.in">
    <meta name="version" content="1.2.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Css -->
    <link href="~/assets/libs/tobii/css/tobii.min.css" rel="stylesheet">
    <link href="~/assets/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="~/assets/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
    <link href="~/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/tailwind.css" rel="stylesheet" type="text/css">

</head>

<body class="dark:bg-slate-900">
    <section style="background-image:url('https://shreethemes.in/jobstack/layouts/assets/images/hero/bg3.jpg');" class="h-screen flex items-center justify-center relative overflow-hidden  bg-no-repeat bg-center bg-cover">
        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
        <div class="container">
            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
                <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md">
                    <div class="p-6">
                        <a href="#">
                            <img src="~/assets/images/logo-dark.png" class="mx-auto h-[24px] block dark:hidden" alt="">
                            <img src="~/assets/images/logo-light.png" class="mx-auto h-[24px] dark:block hidden" alt="">
                        </a>
                        <h5 class="my-6 text-xl font-semibold">Register a Candidate</h5>
                        <form asp-action="RegisterCandidate" class="text-left">
                            <div class="grid grid-cols-1">
                                <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" asp-for="FirstName">Your Firstname:</label>
                                    <input autocomplete="off" asp-for="FirstName" class="form-input mt-3 rounded-md" placeholder="Jhon">
                                </div> 
                                <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" asp-for="LastName">Your Lastname:</label>
                                    <input autocomplete="off" asp-for="LastName" class="form-input mt-3 rounded-md" placeholder="Doe">
                                </div>

                                <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" asp-for="Email">Email Address:</label>
                                    <input autocomplete="off" asp-for="Email" class="form-input mt-3 rounded-md" placeholder="name@example.com">
                                </div>

                                <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" asp-for="Password"> Password:</label>
                                    <input autocomplete="off" asp-for="Password" class="form-input mt-3 rounded-md" placeholder="Password:">
                                </div>
                                <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" asp-for="Password">Country:</label>
                                    <select  asp-for="CountryId    " asp-items="@(new SelectList(ViewBag.Countries,nameof(CountryVM.Id),nameof(CountryVM.Name)))" class="form-select form-input border border-slate-100 dark:border-slate-800 block w-full mt-1">
                                            @*<option value="USA">USA</option>
                                           <option value="CAD">Ca    nada</option>
                                            <option value="CHINA"    >China</option>*@
                                    </select>
                                </div>
                                 <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" asp-for="Password">City:</label>
                                        <select asp-for="CityId" asp-items="@(new SelectList(ViewBag.Cities,nameof(CityVM.Id),nameof(CityVM.CityName)))" class="form-select form-input border border-slate-100 dark:border-slate-800 block w-full mt-1">
                                        @*<option value="USA">USA</option>
                                    <option value="CAD">Canada</option>
                                    <option value="CHINA">China</option>*@
                                    </select>
                                </div>
                                <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label asp-for="CandidateProfileUrl" class="form-label font-medium">Upload Profile Image:</label>
                                    <input autocomplete="off" asp-for="CandidateProfileUrl" class="relative form-input border border-slate-100 dark:border-slate-800 file:h-10 file:-mx-3 file:-my-2 file:cursor-pointer file:rounded-none file:border-0 file:px-3 file:text-neutral-700 bg-clip-padding px-3 py-1.5 file:me-3 mt-2">
                                </div>
                                <div class="mb-4">
                                    <div class="flex items-center mb-0">
                                        <input class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-emerald-600 focus:border-emerald-300 focus:ring focus:ring-offset-0 focus:ring-emerald-200 focus:ring-opacity-50 me-2" type="checkbox" value="" id="Accept:T&C">
                                        <label class="form-checkbox-label text-slate-400" for="Accept:T&C">I Accept <a href="#" class="text-emerald-600">Terms And Condition</a></label>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Register">
                                </div>

                                <div class="text-center">
                                    <span class="text-slate-400 me-2">Already have an account ? </span> <a asp-controller="Auth" asp-action="Login" class="text-black dark:text-white font-bold">Sign in</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
                        <p class="mb-0 text-gray-400 font-medium">© <script>document.write(new Date().getFullYear())</script> Jobstack. Designed by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--end section -->

    <div class="fixed bottom-3 end-3">
        <a href="#" class="back-button btn btn-icon bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md"><i data-feather="arrow-left" class="h-4 w-4"></i></a>
    </div>
    <script src="~/assets/js/jquerymin.min.js"></script>
    <script src="~/assets/libs/tobii/js/tobii.min.js"></script>
    <script src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/plugins.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    @*@RenderSection("scripts", required: false);*@
    <!-- JAVASCRIPTS -->
</body>

<!-- Mirrored from shreethemes.in/jobstack/layouts/index-six.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 11:14:30 GMT -->
</html>
