@model CategoryPostDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

<h1>Create</h1>

<h4>CategoryVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" id="sendName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" id="sendFile" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="sendInput" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @section scripts{
            <script>
                const sendInput = document.querySelector("#sendInput"),
                      sendFile = document.querySelector("#sendFile"),
                      sendName = document.querySelector("#sendName");
                //const file =  sendFile.files[0];

                sendInput.addEventListener('click',function(e){
                    e.preventDefault();
                    const formData= new FormData();
                    formData.append('file', sendFile.files[0]);
                    const sendcategoryName=sendName.value
                   
                    fetch('http://localhost:7264/api/Categories/PostTest', {
                        method: 'POST',
                        body: {
                            categoryname: sendcategoryName,
                            photo:formData
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the API response
                        console.log(data);
                    })
                    .catch(error => {
                        console.log('Error uploading', error);
                    });


                    //$.ajax({
                    //    type: "POST",
                    //    url: "http://localhost:7264/api/Categories/PostTest",
                    //    data: {
                    //        categoryname: sendcategoryName,
                    //        photo:formData
                    //    },
                    //    contentType: false,
                    //    processData: false,
                    //    success: function (data) {
                    //        console.log("good: " + data)
                    //    },
                    //    error: function (data) {
                    //        console.log("bad: "+data)
                    //    }

                    //});
                });
            </script>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

